* {
	box-sizing: border-box;
}

html  {
	scroll-behavior: smooth;
}

body {
	background-color: #E7D4C0;
	font-family: 'Trebuchet MS', sans-serif;
	margin: 0;
}

div {
	border: 2px solid #658EA9;
	padding: 1em;
	margin: 0.5em;
}

div, .hover-shadow {
	transition-property: box-shadow;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

div:hover, .hover-shadow:hover {
	box-shadow: 0 0 10px;
}

a {
	color: #537993;
	text-decoration: none;
	transition: all .3s linear;
}

a:hover {
	color: #E98973;
	text-decoration: underline;
}

@media only screen and (max-width: 900px) {
	#name-div {
		position: relative !important;
	}
	#name-div, .content-div {
		width: 96% !important;
	}
}

#self-photo {
	width: 70%;
	border: 2px solid black;
}

#self-photo:active {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

#main-container {
	overflow: auto;
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	position: relative;
	float: left;
}

#name-div {
	text-align: center;
	float: left;
	width: 30%;
	position: fixed;
}

.content-div {
	width: 67%;
	float: right;
}

